body {
    font-family: Arial, sans-serif;
    background-color: #0dff7aa2;
}
form {
    background-color: #ffffff60;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #AAAAAA;
}
h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
label {
    text-align: left;
    font-weight: bold;
}
input[type="text"], input[type="password"] {
    display: block;
    width: 50%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-bottom: 20px;
    font-size: 16px;
}
button{
    background-color:#716c4e;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
button[type="reset"]{
    background-color: #716c4e;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #3E8E41;
}
button[type="reset"]:hover {
    background-color: #b42c35;
}